<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <div class="sidenav-menu-button">
            <button type="button" mat-button routerLink="/" routerLinkActive="active">
                Home
            </button>
        </div>
        <div class="sidenav-menu-button">
            <button type="button" mat-button routerLink="/cities" routerLinkActive="active">
                Cities
            </button>
        </div>
    </mat-drawer>

    <div class="sidenav-menu">
        <i class="material-icons" (click)="drawer.toggle()">
            menu
        </i>
    </div>

    <div class="sidenav-logo">
        <img class="logo" src="assets/images/logo.png" alt="">
    </div>

    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>