.container {
    width: 100%;
    height: 100%;
}

.sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav-menu {
    display: flex;
    align-items: left;
    justify-content: left;
}

.sidenav-menu i{
    margin: 20px;
    cursor: pointer;
}

.sidenav-menu i:hover{
    opacity: 0.5;
}

.sidenav-menu-button{
    margin: 0.5em 0;
}

.sidenav {
    padding: 20px;
}

.sidenav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo{
    width: 50vw;
}